<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PYjishiqi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18381F001D6C1F6000C06461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18381F191D6C1F6100C06461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18381F241D6C1F6100C06461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
